body {
  color: #f9f7f7;
  background-color: #393e46;
}

.item {
  color: #00adb5;
  border-color: #eaeaea;
  display: inline-block;
  margin-right: 2px;
}

.key {
  padding: 0.6em;
  font-size: 2.5em;
  color: #eeeeee;
  background-color: #1b262c;
  border: medium solid #dbe2ef;
  border-radius: 15px;
  margin: 0.1em;
}

.pressed {
  color: #95e1d3;
  border-color: #71c9ce;
  animation: fade 0.2s linear;
}

.right {
  color: #cbf1f5;
}

.wrong {
  color: #b83b5e;
}

.flash {
  animation: flash 1.75s infinite;
}

@keyframes flash {
  0% {
    border-color: #ffffff;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: #ffffff;
  }
}
