body {
  color: #f9f7f7;
  background-color: #393e46;
}

.item {
  color: #00adb5;
  border-color: #eaeaea;
}

.key {
  color: #eeeeee;
  background-color: #1b262c;
  border: medium solid #dbe2ef;
}

.pressed {
  color: #95e1d3;
  border-color: #71c9ce;
}

.right {
  color: #cbf1f5;
}

.wrong {
  color: #b83b5e;
}

.wrong-space {
  background-color: #b83b5e;
}

@keyframes flash {
  0% {
    border-color: #ffffff;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: #ffffff;
  }
}
