.item {
  border-color: #1b262c;
}

.key {
  background-color: #eeeeee;
  border: medium solid #393e46;
}

.pressed {
  color: #222831;
  background-color: #eeeeee;
  border-color: #71c9ce;
}

.right {
  background-color: #eaffd0;
}

.wrong {
  background-color: #ffd1d1;
}

@keyframes flash {
  0% {
    border-color: #1b262c;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: #1b262c;
  }
}
