body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
}

#results {
  font-size: 3em;
  display: none;
  flex-direction: column;
  margin-bottom: -2em;
}

#restart {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  font-size: 0.8em;
  user-select: none;
}

#restart:hover {
  cursor: pointer;
  color: #a8d8ea;
}

#input {
  position: relative;
  width: 1100px;
  font-size: 2em;
  display: flex;
  flex-wrap: wrap;
  user-select: none;
  margin: 4em 0 0.5em 3em;
  height: 225px;
  padding-left: 2px;
  overflow: hidden;
}

.word {
  transition: transform 0.5s ease;
  margin-bottom: 2px;
}

#bar {
  opacity: 0;
  user-select: none;
  -moz-user-select: none;
  position: absolute;
}

#bar:hover {
  cursor: default;
}

.current {
  box-sizing: border-box;
  border-left: 2px solid;
  margin-left: -2px;
}

#keyboard {
  user-select: none;
  margin-bottom: 4em;
}

.item {
  display: inline-block;
}

.key {
  padding: 0.6em;
  font-size: 2.4em;
  border-radius: 15px;
  margin: 0.1em;
}

.pressed {
  animation: fade 0.1s linear;
}

.flash {
  animation: flash 1.75s infinite;
}

.row {
  display: flex;
  justify-content: center;
  text-align: center;
}

#row2 {
  margin-left: -5%;
}

#theme:hover {
  cursor: pointer;
}

@keyframes fade {
  from {
    opacity: 0.45;
  }
  to {
    opacity: 1;
  }
}
